<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Смена пароля </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- head -->
<!-- main -->
<div class="container mt-5 mb-5">
  <h1>Смена пароля </h1>
  <div th:each="el : ${post}" >
  <form th:action=" '/' + ${el.user_id} + '/

  passwordChange' " method="post">

    <input type="text" name="password" placeholder="Введите пароль" class="form-control"><br>


    <button type="submit" >Изменить</button><br>
  </form>
</div>
</div>
<!-- footer -->

</body>
</html>